Source: shim-signed
Section: utils
Priority: optional
Maintainer: Luca Boccassi <luca.boccassi@gmail.com>
Build-Depends: debhelper (>= 9.20151004~), pesign [amd64 arm64 armhf i386], shim [amd64],
Standards-Version: 3.9.8

Package: shim-signed
Architecture: any-amd64
Depends: ${misc:Depends}, shim, grub-efi-amd64-bin, grub2-common (>= 2.02~beta3)
Description: boot loader to chain-load signed boot loaders under Secure Boot
 This package provides a minimalist boot loader which allows verifying
 signatures of other UEFI binaries against either the Secure Boot DB/DBX or
 against a built-in signature database.  Its purpose is to allow a small,
 infrequently-changing binary to be signed by the UEFI CA, while allowing
 an OS distributor to revision their main bootloader independently of the CA.
 .
 This package contains a version of shim built for use with the EFI-AMD64
 architecture, signed with Debian's UEFI signing key.
